/* Font Family */

@font-face {
    font-family: "helvetica bold";
    src: url("fonts/HelveticaNeue\ Bold.ttf");
  }
  
  @font-face {
    font-family: "massilia regular";
    src: url("fonts/Massilia\ Regular.otf");
  }
  
  @font-face {
    font-family: "massilia light";
    src: url("fonts/Massilia\ Light.otf");
  }
  
  @font-face {
    font-family: "massilia medium";
    src: url("fonts/Massilia\ Medium.otf");
  }
  
  @font-face {
    font-family: "massilia bold";
    src: url("fonts/Massilia\ Bold.otf");
}

@font-face {
    font-family: "massilia black";
    src: url("fonts/Massilia\ Black.otf.otf");
}

/* Background */

body {
  overflow: hidden;
  background-color: #E2D7AE; /* Set your desired background color here */
  margin: 0;
  padding: 20px; /* Add padding to the body text */
  box-sizing: border-box; /* Include padding and border in the total width and height */
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0px 0px;
}

body, html {
  margin: 0;
  padding: 0;
}

/* Text Refrence */

h1{
  font-family: "massilia bold";
  padding: 0;
  width: 503px;
  height: 44px;
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 118.75% */

  }
  
  h2{
    font-family: "massilia light";
    width: 584px;
    height: 273px;
    font-size: 23px;
    font-style: normal;
    font-weight: 300;
    line-height: 38px;
  }
  
  h3{
    font-family: "massilia regular";
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    color: #000;
  }

  h4{ 
    font-family: "massilia bold";
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    color: #000;
  }


h5{
    font-family: "helvetica bold";
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFCF06;
}

/* top nav */

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-image {
  position: fixed;
  top: 30px;
  left: 130px;
  width: 235px; 
  height: 160px; 
  background-size: contain;
  z-index: 999; 
  pointer-events: none; 
  transition: transform 0.3s ease; 
  margin: 0
}

.menu-image-link {
  display: block; /* Ensure the anchor tag takes the full width and height of the image */
  width: 30px; /* Set the initial width of your image */
  height: 30px; /* Set the initial height of your image */
}

#main-header{
  color: yellow;
}


/* Body text placement */
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.text {
    grid-column: 1 / span 6; 
    text-align: left;
}


.text p {
    font-size: 23px;
    line-height: 1.5;
}

/* Page Pattern */

.home-image {
  position: absolute;
  top: 60%;
  left: 70%;
  right: 0%; 
  transform: translate(-50%, -50%);
  max-width: 100%; 
  height: 85%; 
}

.home-right-pattern {
  position: absolute;
  top: 40%;
  left: 95%;
  right: 0%; 
  transform: translate(-50%, -50%);
  max-width: 100%; 
  height: 30%; 
}

.home-left-pattern {
  position: absolute;
  top: 79%;
  left: 3%;
  right: 0%; 
  transform: translate(-50%, -50%);
  max-width: 100%; 
  height: 30%; 
}

/* Button */

* {
  box-sizing: border-box;
}
body {
  margin:0;
}
img {
  width:100%;
}

.button {
  display:inline-block;
  background-color: #F47627;
  color: white;
  text-decoration:none;
  padding: 8px 100px;
  border-radius: 10px;
  border:2px solid #F47627;
}
.button:hover {
  background-color: white;
  color: #F47627;
  border:2px solid #ffff;
}

/* START of Mobile Menu */
.nav, .desktop {
  padding: 20px;
  padding-top: 50px; 
  box-sizing: border-box; 
  display: block;
  position: fixed;
  top: -30px;
  left: 0px;
  width: 100%;
  z-index: 900;
}

.icon {
  position: fixed;
  cursor: pointer;
  top: 5%;
  right: 0%;
  width: 40px;
  height: 45px;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 1000;
}

.hamburger {
  width: 40px;
  height: 4px;
  line-height: 70px;
  background: #FFCF06;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .5s;
}

.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 4px;
  background: #FFCF06;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .5s;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  top: 10px;
}

.icon.active .hamburger {
  background: rgba(206, 40, 40, 0);
  box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}

.menu-mobile {
  background-color: #02AF85;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding-top: 150px;
  font-family: 'Helvetica', sans-serif;
  text-align: center;
}

.menu-mobile, .menu-mobile a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.menu-mobile a {
  clear: right;
  text-decoration: none;
  color: #FFCF06;
  height: 70px;
  line-height: 70px;
  margin-top: 10px; 
}
.menu-mobile a:hover {
  color: #E2D7AE;
}

.desktop, .menu-desktop, .menu-mobile {
      display: none;
  }
/* END OF Mobile Menu */

main {
  margin-top:20px;
}
.flex {
  display:flex;
  width:80%;
  margin:auto;
}
.flex div {
  flex:1;
  
}
.flex .left {
  padding-right:60px;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* START of desktop menu for 768 media query */
  .menu-desktop {
      width: 100%;
      display: block;
      padding: 0;
      line-height: 50px;
      justify-content: space-evenly;
      flex-direction: row;
      height: 0;
      text-align: right;
      position: absolute;
      top: 0;
      right: 0;
  }

  .menu-desktop a {
      display: inline-flex;
      margin-right: 75px;
      height: 0px;
      line-height: 50px;
      text-decoration: none;
      color: #FFCF06;
      justify-content: space-evenly;
  }
  .menu-desktop a:hover {
      color: #E2D7AE;
  }

  .desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      display: block;
  }

  header.nav, .menu-mobile {
      display: none;
  }
  /* END of desktop menu for 768 media query */
}

/* If the screen is smaller than 768 */
@media only screen and (max-width: 768px) 
  .flex {
      flex-direction:column;
  }
  .flex .left {
      padding:0;
  }
  .flex .left, .flex .right {
      flex:1;
      padding:0;
      padding-bottom:30px;
  }
  
  @media only screen and (max-width: 768px) {
    .menu-image {
        display: none;
    }

    
}


